
MEMORY {
# ZERO
    ZERO: type = rw, start = $0000, size = $0100; 
    STACKS: type = rw, start = $0400, size = $0400, file = "";
    ROM:  type = ro, start = $A000, fill=$00, size = $2000, file = "temp/hyforth2.bin";
    RAM:  type = rw, start = $0800, fill=$00, size = $7C00, file = "temp/hyforth2.bin";
    LIB:  type = ro, start = $C000, fill=$00, size = $2000, file = "temp/hyforth_lib.bin";
}

SEGMENTS {
    ZP:     load = ZERO, type = zp;
    STACKS:   load = STACKS, type = rw, offset = $0000;
    CODE:     load = RAM,  type = rw, offset = $0000;
    ROM:      load = ROM,  type = ro, offset = $0000;
    LIB:      load = LIB,  type = ro, offset = $0000;
}

